.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.calendar {
  width: 370px;
  background-color: #3690ff5d;
  border-radius: 15px;
}
